html, body { height: 100%; }
body {
  font: 22px Lora, serif;
  text-align: center;
}

code, pre {
  font-family: 'Ubuntu Mono', monospace;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

#lemonsauce, [itemprop=articleBody] img {
  display: block;
  margin: 30px auto 100px;
  padding: 3px;
  width: 100%;
}

.highlight { margin: 1em -1em; }

/* index */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: 'Ubuntu Mono', monospace;
}

/* main section */
.site {
  text-align: justify;
  margin: 0.5em auto 3em;
  max-width: 32em;
  padding: 0 1em;
  line-height: 1.5em;
}

.header a {
  text-decoration: none;
}

.header h1 {
  display: inline-block;
  font-size: 100%;
  font-weigh: normal;
  margin-bottom: 2em;
}

.header h1 a    { color: #a00; }
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}
.header a:hover { color: #000; }

h2[itemprop=name] {
  font-size: 2em;
  line-height: 1.125em;
  margin: 0 0 0.25em;
  text-align: left;
  transition: all 0.2s;
}

@media (min-width: 50em) {
  h2[itemprop=name] {
    font-size: 3em;
    margin: 0 -0.5em 0.25em;
  }
}

[itemprop=datePublished] {
  color: #aaa;
  margin: 0;
}

.footer {
  font-size: 70%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
.footer .contact {
  float: left;
  margin-right: 3em;
}
.footer .rss img { border: 0; }
.footer .contact a { color: #8085C1; }
.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* posts */
/* standard */
[itemprop=articleBody] pre,
[itemprop=articleBody] code,
[itemprop=articleBody] img,
#lemonsauce {
  border: 1px solid #ddd;
  background-color: #eef;
  border-radius: 3px;
}

[itemprop=articleBody] pre {
  overflow: auto;
  padding: 1em;
}

[itemprop=articleBody] ul, [itemprop=articleBody] ol {
  padding-left: 2em;
}

[itemprop=articleBody] pre code {
  border: none;
}

/* terminal */
[itemprop=articleBody] pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

[itemprop=articleBody] pre.terminal code {
  background-color: #333;
}