<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name='viewport' content='width=device-width'>

    <!-- Twitter -->
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@3van'>
    <meta name='twitter:creator' content='@3van'>
    <meta name='twitter:title' content='WtW.io'>
    <meta name='twitter:description' content='All the whats.'>

    <link rel='shortcut icon' href='/assets/favicon.ico'>
    <!-- Libraries -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css'>
    <!-- Our Stuff -->
    <link rel='stylesheet' href='/css/syntax.css'>
    <link rel='stylesheet' href='/css/main.css'>
  </head>
  <body>
    <div itemscope itemtype='http://schema.org/Article' class='site'>
      <div class='header'>
        <h1 class='title'><a href='/wtw.html'>{{ site.name }}</a></h1>
        <a class='extra' href='/'>home</a>
      </div>
      {{ content }}
      <div class='footer'>
        <div class='contact'>
          <p>
            <span itemprop='author' itemscope itemtype='http://schema.org/Person'>
              <span itemprop='name'>Evan Lecklider</span>
            </span><br>
            I do stuff
          </p>
        </div>
        <div class='contact'>
          <p>
            <a href='https://github.com/l3ck'>github.com/l3ck</a><br />
            <a href='https://twitter.com/3van'>twitter.com/3van</a><br />
          </p>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44811781-1', 'wtw.io');
      ga('send', 'pageview');
    </script>
    <a href='https://github.com/l3ck'><img style='position: absolute; top: 0; right: 0; border: 0;' src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png' alt='Fork me on GitHub'></a>
  </body>
</html>